{% extends "base.html" %}
		{% block title %}{{ recipe.title }} - Scrumptious Recipes{% endblock title %}
{% block content %}

		<header>
			<nav>
				<a class="main-link" href="{% url 'recipe_list' %}">Main page</a>
				<a href="{% url 'edit_recipe' recipe.id %}">Edit recipe</a>
			</nav>
		</header>
		<main>
			<h1>{{ recipe.title }}</h1>
			<img src="{{ recipe.picture }}" alt="Tacos" />
			<div>4.3 stars</div>
			<p>Created on: {{ recipe.created_on|date:"F d, Y" }}</p>
			<p>{{ recipe.description }}</p>
			<h2>Ingredients</h2>
			<table>
				<thead>
					<tr>
						<th>Amount</th>
						<th>Food item</th>
					</tr>
				</thead>
				<tbody>
					{% for ingredient in recipe.ingredients.all %}
					<tr>
						<td>{{ ingredient.amount }}</td>
						<td>{{ ingredient.food_item }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<h2>Steps</h2>
			<ol>
				{% for step in recipe.steps.all %}
				<li>{{ step.instruction }}</li>
				{% endfor %}
			</ol>
		</main>
{% endblock content %}
