{% extends "base.html" %}


		{% block title %}{{ recipe.title }} - Scrumptious Recipes{% endblock title %}
		{% block content %}

		<header>
			<nav>
				<a class="main-link" href="{% url 'recipe_list' %}">Main page</a>
			</nav>
		</header>
		<main>
			<form method="post">
				{% csrf_token %} {{ form.as_p }}
				<button>Edit</button>
			</form>
		</main>
		{% endblock content %}
