{% extends "base.html" %}
{% load static %}
{% block title %} Scrumptious recipes {% endblock title %} {% block content %}
<header>
	<nav>

		{% if user.is_authenticated %}
		<div class="nav_welcome">
			<p>Welcome to Scrumptious</p>
		<p>Hello, {{ user.username }}!</p>
		</div>
		<div class="nav_links">
		<a href="{% url 'recipe_list' %}">Main page</a>
		<a href="{% url 'my_recipe_list' %}">My recipes</a>
		<a href="{% url 'create_recipe' %}">Create a recipe</a>



		<a href="{% url 'logout' %}">Logout</a>
		</div>
		{% else %}
		<div class="nav_welcome">
			<p>Welcome to Scrumptious</p>
		<p>Please login for a better user experience!</p>
		</div>
		<div class="nav_links">
		<a href="{% url 'recipe_list' %}">Main page</a>
			<a href="{% url 'signup' %}">Sign up</a>
			<a href="{% url 'login' %}">Login</a>
	</div>
		{% endif %}
	</nav>
</header>
<main>
	<h1>Scrumptious Recipes</h1>
	<h2>All the food that's fit to eat</h2>
	<div class="recipe-grid">
		{% for recipe in recipe_list %}
		<div class="{% cycle 'recipe1' 'recipe2' 'recipe3' %}">
			<h3>
				<a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
			</h3>

			<p>{{ recipe.created_on|date:"M d, Y" }}</p>
			<div class="recipe_img">
			<img src="{{ recipe.picture }}" alt="Tacos" />
			</div>
			<p>4.3 stars</p>
		</div>
		{% endfor %}
	</div>
</main>
{% endblock content %}
