@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Flamenco&family=Roboto&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Flamenco", sans-serif;
	background: #25cae6;
}

main {
	padding: 16px 16px 65px 16px;
	margin: auto;
}

footer {
	height: 65px;
	width: 100%;
	background-color: white;
	position: fixed;
	bottom: 0pt;
	left: 16px;
	border-top: 1px solid black;
}
footer > div {
	padding: 16px 0;
	background-color: #05c7f2;
}

.recipe_img {
	height: 200px;
	overflow: hidden;
}
nav > p {
	text-align: center;
}
.nav_links {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-bottom: 1px solid black;
	padding: 16px;
}
.nav_links > a {
	font-size: 36px;
	font-weight: 800;
	display: grid;
	justify-content: center;
	color: white;
}

nav > a:hover {
	color: #f2b035;
}

h3 > a {
	padding-left: 7px;
	color: #f28963;
}

a {
	text-decoration: none;
}

header {
	background-color: #f2167d;
	color: white;
}

.recipe-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 3rem;
}

div[class^="recipe"] > p {
	padding-left: 15px;
}

div[class^="recipe"] > img {
	width: 100%;
	height: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.recipe-grid > div {
	background: white;
	border-radius: 12px;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.recipe-grid > .highlight > td {
	background-color: grey;
}

td {
	padding-left: 5px;
}

p > input,
p > label,
p > textarea {
	display: block;
}

p > input,
p > textarea {
	margin-left: 12px;
}
